@(speakers: Set[(Speaker, Map[String, Proposal])],filterDeclinedRejected:Boolean, allApprovedProposalIDs:Set[String] )(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("CFP Speakers") {
    <script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="fas fa-thumbs-up"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

    <div class="col-md-12">
        <div class="card">
        <div class="card-header">
            <h3>All speakers</h3>
            <span class="badge badge-info">@speakers.size users</span><br>
            @if(filterDeclinedRejected) {
                <a href="@routes.CFPAdmin.allSpeakersWithApprovedTalks(false)" class="btn btn-primary btn-sm">Show all</a> -
                <em>Rejected, declined, cancelled or deleted are filtered-out</em>
            }else{
                <a href="@routes.CFPAdmin.allSpeakersWithApprovedTalks(true)" class="btn btn-sm btn-primary button"><i class="fas fa-filter"></i>
                    Hide Rejected/Declined/Cancelled/Deleted</a>
            }
        </div>
        <div class="card-body">

            @if(speakers.nonEmpty){
            <table id="speakersTable" class="table table-bordered table-stripped" aria-label="Speakers">
                <thead>
                    <tr>
                        <th scope="row">Name</th>
                        <th scope="row">Lang</th>
                        <th scope="row">Company</th>
                        <th scope="row">Email</th>
                        <th scope="row">Total Approved</th>
                        <th scope="row">Total Accepted</th>
                        <th scope="row">Submitted Talks</th>
                    </tr>
                </thead>
                <tbody>
                @speakers.map { case (speaker: Speaker, proposals) =>
                    <tr>
                       <td>
                            @tags.renderGravatar(speaker.uuid, showName=true, showPhoto=false)
                       </td>
                        <td>
                            @speaker.cleanLang
                        </td>
                        <td>
                            @speaker.company.getOrElse("")
                        </td>
                        <td>
                            <small>@speaker.email</small>
                        </td>
                        <td>
                            @allApprovedProposalIDs.count(proposalID => proposals.contains(proposalID))
                        </td>
                        <td>@proposals.values.count(proposal => ApprovedProposal.isAccepted(proposal.id))</td>

                        <td>
                        @proposals.values.map { proposal: Proposal =>
                            @if(allApprovedProposalIDs.contains(proposal.id)){
                                <div class="alert alert-warning">
                            }else{
                                <div>
                            }

                            <span class="badge badge-@proposal.state.code">@proposal.state.code</span>
                            <strong>@Messages(proposal.talkType.simpleLabel)</strong>
                            &nbsp;
                            <a href="@routes.CFPAdmin.openForReview(proposal.id)" title="@proposal.title" target="_blank">@proposal.title</a>
                            </div>
                        }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            }else{
                <P>There is no speaker.</P>
            }
        </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    $('#speakersTable').DataTable({
        "order": [[0, "asc"]],
        "pageLength": 50,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "stateSave": true,
        "columns": [
            {"type": "html"},
            {"type": "string"},
            {"type": "string"},
            {"type": "string"},
            {"type": "num"},
            {"type": "num"},
            {"orderable": false, "type": "string"}
        ]
    });
} );
</script>
}
