@(allVotes: List[(models.Proposal, (models.Review.Score, models.Review.TotalVoter, models.Review.TotalAbst, models.Review.AverageNote, models.Review.StandardDev), Double, Long, Double, Option[Double])], totalApproved: Long, totalRemaining: Long, confType: String, selectedTrack: String)(implicit lang: Lang, flash: Flash, req: RequestHeader)
    @import models.Review.{AverageNote, TotalAbst, TotalVoter}

    @main("All votes") {
        @defining((
            allVotes.map(_._2._4.n).sorted.reverse,
            allVotes.map(_._3).sorted.reverse,
            allVotes.map(_._5).sorted.reverse,
            allVotes.count(_._1.state == ProposalState.DECLINED),
            totalRemaining + allVotes.count(_._1.state == ProposalState.DECLINED)
        )) { case (sortedComiteeAverageScores: List[Double], sortedGTAverageScores: List[Double], sortedGTAndComiteeScores: List[Double], declinedTotal: Int, remainingIncludingDeclined: Long) =>

        <script type="text/javascript" charset="utf-8" language="javascript" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">

        <div class="row">
            <div class="col-md-12 mt-2">
                @for(proposalType <- ConferenceDescriptor.ConferenceProposalTypes.ALL) {
                    <a href="@routes.CFPAdmin.allVotes(proposalType.id, selectedTrack)" class="btn @if(proposalType.id == confType){ btn-success } else { btn-primary } btn-sm">
                        <i class="@ConferenceDescriptor.ConferenceProposalConfigurations.getHTMLClassFor(proposalType)"></i>
                        @Messages(proposalType.label + ".simple")
                    </a>
                }
                <a href="@routes.CFPAdmin.allVotes("all", selectedTrack)" class="btn @if("all" == confType){ btn-success } else { btn-primary } btn-sm">
                    <i class="fas fa-adjust"></i>
                    All
                </a>
            </div>
            <div class="col-md-12 mt-2">
                <i class="fas fa-filter"></i> Show only:
                @Track.all.map { track =>
                    <a href="@routes.CFPAdmin.allVotes(confType, track.id)" class="btn @if(selectedTrack == track.id){ btn-success } else { btn-primary } btn-sm">
                        @Messages(track.label)
                    </a>
                }
                <a href="@routes.CFPAdmin.allVotes(confType, "all")" class="btn @if("all" == selectedTrack){ btn-success } else { btn-primary } btn-sm">
                    All
                </a>
            </div>
            <div class="col-md-12 mt-2">
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="showMyVotes" onchange="showMyVotes(this.checked)" data-com.bitwarden.browser.user-edited="yes" class="form-check-input">
                    <label class="form-check-label" for="showMyVotes">Show my votes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="showGTVotes" onchange="showGTVotes(this.checked)" data-com.bitwarden.browser.user-edited="yes" class="form-check-input">
                    <label class="form-check-label" for="showGTVotes">Show GT votes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="showTrack" onchange="showTrack(this.checked)" data-com.bitwarden.browser.user-edited="yes" class="form-check-input">
                    <label class="form-check-label" for="showTrack">Show Track</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" id="showProposalType" onchange="showProposalType(this.checked)" data-com.bitwarden.browser.user-edited="yes" class="form-check-input">
                    <label class="form-check-label" for="showProposalType">Show Proposal type</label>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <a href="@routes.LeaderboardController.doComputeVotesTotal()" class="btn btn-success btn-sm"><i class="fas fa-compass"></i>
                    Recompute total and votes</a> -
                <a href="@routes.CFPAdmin.allApprovedSpeakersByCompany(false)" class="btn btn-danger btn-sm"><i class="fas fa-angle-double-down"></i>
                    All talks by company</a>
            </div>
            <div class="col-md-12">
                @if(flash.get("error").isDefined) {
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error :</strong>
                        @flash.get("error").get
                    </div>
                }
                @if(flash.get("success").isDefined) {
                    <div class="alert alert-success alert-dismissable">
                    @flash.get("success").get
                    </div>
                }
            </div>
            <div class="col-md-12 mt-2">
                <span class="badge badge-success">@totalApproved approved</span> <span class="badge badge-declined">
                    - @declinedTotal declined</span> <span class="badge badge-warning">
                    = @remainingIncludingDeclined remaining</span>
                <br>
                <span class="badge badge-primary">@allVotes.map(_._1).count(_.lang == "fr")
                    FR</span> <span class="badge badge-secondary">@allVotes.map(_._1).count(_.lang == "en") EN</span>

            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <small>All proposals with at least one vote, with state set to SUBMITTED/APPROVED/ACCEPTED/BACKUP</small>
                <small>If you just created a proposal and it's not listed here : please add a vote.</small>

                <table id="allProposals" class="compact cell-border order-column">
                    <thead>
                        <tr>
                            <th/>
                            <th>Avg</th>
                            <th class="gt-votes">GT</th>
                            <th>Votes</th>
                            <th>Abst.</th>
                            <th class="gt-votes">GT & Committee</th>
                            <th class="my-votes">Mine</th>
                            <th>Title</th>
                            <th>Speakers</th>
                            <th class="prop-track-col">Track</th>
                            <th class="prop-type-col">Type</th>
                            <th>Lang</th>
                            <th><i class="fas fa-thumbs-up"></i> / <i class="fas fa-thumbs-down"></i></th>
                            <th class="hidden">Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                    @allVotes.sortBy(-_._2._4.n).zipWithIndex.map { case ((proposal, voteAndTotalVotes, gtScore, gtVoteCast, gtAndComiteeScore, maybeMyVote), index) =>
                        @defining(ApprovedProposal.isRefused(proposal.id, proposal.talkType.id)) { refused =>
                            @defining(ApprovedProposal.isApproved(proposal.id, proposal.talkType.id)) { approved =>
                                <tr class="preselected_@approved refused_@refused">
                                    <td class="number_table">@{index+1}</td>
                                    <td class="average_table">
                                    @defining(voteAndTotalVotes._4) { average: AverageNote =>
                                        <span class="score" data-score="@library.Scores.calculateVisualScoreOf(average.n, remainingIncludingDeclined, sortedComiteeAverageScores)">
                                            <span class="btn displayed-score"> @average.n</span>
                                        </span>
                                    }
                                    </td>
                                    <td class="gt-votes">
                                        <small>
                                            <span class="score" data-score="@library.Scores.calculateVisualScoreOf(gtScore, remainingIncludingDeclined, sortedGTAverageScores)">
                                                <span class="btn-sm displayed-score">@gtScore</span>
                                            </span>
                                            by @gtVoteCast <i class="fas fa-user"></i>
                                        </small>
                                    </td>
                                    <td class="number_table">
                                    @defining(voteAndTotalVotes._2) { totalVoters: TotalVoter =>
                                        @totalVoters.i
                                    }
                                    </td>
                                    <td class="number_table">
                                    @defining(voteAndTotalVotes._3) { totalAbstentions: TotalAbst =>
                                        @totalAbstentions.i
                                    }
                                    </td>
                                    <td class="number_table gt-votes">
                                        <span class="score" data-score="@library.Scores.calculateVisualScoreOf(gtAndComiteeScore, remainingIncludingDeclined, sortedGTAndComiteeScores)">
                                            <span class="btn displayed-score">@gtAndComiteeScore</span>
                                        </span>
                                    </td>
                                    @maybeMyVote.map { score =>
                                        <td class="number_table my-votes" data-order="@score.intValue()">
                                            <span class="score" data-score="@score.intValue()">
                                                <span class="btn displayed-score"> @if(score.intValue()==0){ Abs } else { @score.intValue() } </span>
                                            </span>
                                        </td>
                                    }.getOrElse {
                                        <td class="number_table my-votes" data-order="-1">
                                            -
                                        </td>
                                    }
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)" target="@proposal.id"><small>@proposal.title
                                            @if(proposal.sponsorTalk) {
                                                &nbsp;<label class="badge badge-info"><i class="fas fa-medal"></i> sponsor</label>
                                            }
                                        </small></a>
                                    </td>
                                    <td>
                                    @proposal.allSpeakers.map { s: Speaker =>
                                        @if(models.Invitation.isInvited(s.uuid)) {
                                            <span class="badge badge-warning">♥ @s.cleanName <small>
                                                [@s.company.map(_.toLowerCase.capitalize)]</small></span>
                                        } else {
                                            <span class="badge badge-secondary">@s.cleanName <small>
                                                [@s.company.map(_.toLowerCase.capitalize)]</small></span>
                                        }
                                    }
                                    </td>
                                    <td class="prop-track-col">
                                        <small>@Messages(proposal.track.label)</small>
                                    </td>
                                    <td class="prop-type-col">
                                        <small>@proposal.talkType.id</small>
                                    </td>
                                    <td>
                                        [@proposal.lang]
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            @if(approved) {
                                                <a href="@routes.ApproveOrRefuse.cancelApprove(proposal.id)" class="cancelAcceptBtn btn btn-danger" title="Cancel Pre-Approve"><i class="fas fa-undo"></i></a>
                                            }
                                            @if(refused) {
                                                <a href="@routes.ApproveOrRefuse.cancelRefuse(proposal.id)" class="cancelRefuseBtn btn btn-danger" title="Cancel Pre-Refuse"><i class="fas fa-undo"></i></a>
                                            }
                                            @if(!approved && !refused) {
                                                <a href="@routes.ApproveOrRefuse.doApprove(proposal.id)" class="approveBtn btn btn-success" title="Pre-Approve"><i class="fas fa-thumbs-up"></i></a>
                                                <a href="@routes.ApproveOrRefuse.doRefuse(proposal.id)" class="refuseBtn btn btn-danger" title="Pre-Refuse"><i class="fas fa-thumbs-down"></i></a>
                                            }
                                        </div>
                                        <br>
                                        <span class="badge badge-pill badge-@proposal.state.code">@proposal.state.code</span>
                                        @if(approved && (proposal.state == ProposalState.SUBMITTED || proposal.state == ProposalState.BACKUP)) {<span class="badge badge-pill badge-success"><i class="fas fa-thumbs-up"></i> pre-approved</span>}
                                        @if(refused && (proposal.state == ProposalState.SUBMITTED || proposal.state == ProposalState.BACKUP)) {<span class="badge badge-pill badge-danger"><i class="fas fa-thumbs-down"></i> pre-refused</span>}
                                    </td>
                                    <td class="hidden">
                                        @Html(proposal.summaryAsHtml)
                                    </td>
                                </tr>
                            }
                        }
                    }
                    </tbody>
                </table>

            </div>

        </div>

        <script type="text/javascript">
                $(document).ready(function () {

                    $.fn.dataTableExt.oStdClasses.sStripeOdd = '';
                    $.fn.dataTableExt.oStdClasses.sStripeEven = '';

                    $('#allProposals').DataTable({
                        "autoWidth": true,
                        "processing": true,
                        "dom": 'lfirtp',
                        "aaSorting": [[1, "desc"]],
                        "pageLength": 75,
                        "lengthMenu": [[5, 10, 25, 50, 75, 100, -1], [5, 10, 25, 50, 75, 100, "All"]],
                        "stateSave": true,
                        "drawCallback": function (oSettings) {
                            /* Need to redo the counters if filtered or sorted */
                            // if (oSettings.bSorted || oSettings.bFiltered) {
                            //     for (var i = 0, iLen = oSettings.aiDisplay.length ; i < iLen ; i++) {
                            //         $('td:eq(0)', oSettings.aoData[oSettings.aiDisplay[i]].nTr).html(i + 1);
                            //     }
                            // }
                        },
                        "aoColumnsDef": [
                            {"bSortable": "false", "bSearchable": "false", "aTargets": 0},
                            {"sType": "numeric", "aTargets": [1, 2, 3, 4, 5, 6]},
                            {"sType": "string", "aTargets": [7, 8, 9, 10, 11, 12]}
                        ],
                        "stripeClasses": []
                    });

                    $('a.refuseBtn').click(function (e) {
                        e.preventDefault();
                        var url = this.href;
                        var link = $(this);
                        var trTable = $(this).parent().parent();
                        link.addClass("loading");
                        $.get(url, function () {
                            link.removeClass("loading");
                            link.addClass("sent");
                            trTable.removeClass("preselected_false refused_false");
                            trTable.addClass("preselected_false refused_true");
                        }).fail(function () {
                            alert("error");
                        });
                    });

                    $('a.approveBtn').click(function (e) {
                        e.preventDefault();
                        var url = this.href;
                        var link = $(this);
                        var trTable = $(this).parent().parent();
                        link.addClass("loading");
                        $.get(url, function () {
                            link.removeClass("loading");
                            link.addClass("sent");
                            trTable.removeClass("preselected_false refused_false");
                            trTable.addClass("preselected_true refused_false");
                        }).fail(function () {
                            alert("error");
                        });
                    });

                    $('a.cancelAcceptBtn').click(function (e) {
                        e.preventDefault();
                        var url = this.href;
                        var link = $(this);
                        var trTable = $(this).parent().parent();
                        link.addClass("loading");
                        $.get(url, function () {
                            link.removeClass("loading");
                            link.addClass("sent");
                            trTable.removeClass("preselected_true refused_false");
                            trTable.addClass("preselected_false refused_false");
                        }).fail(function () {
                            alert("error");
                        });
                    });

                    $('a.cancelRefuseBtn').click(function (e) {
                        e.preventDefault();
                        var url = this.href;
                        var link = $(this);
                        link.addClass("loading");
                        var trTable = $(this).parent().parent();
                        $.get(url, function () {
                            link.removeClass("loading");
                            link.addClass("sent");
                            trTable.removeClass("preselected_false refused_true");
                            trTable.addClass("preselected_false refused_false");
                        }).fail(function () {
                            alert("error");
                        });
                    });

                    @if(confType=="all"){ $("#showProposalType").attr('checked', true); }
                    @if(selectedTrack=="all"){ $("#showTrack").attr('checked', true); }
                    $("#showMyVotes").attr('checked', localStorage.getItem("showMyVotes")==="true")
                    $("#showGTVotes").attr('checked', localStorage.getItem("showGTVotes")==="true")

                    $.each(["#showProposalType", "#showTrack", "#showMyVotes", "#showGTVotes"], (_, selector) => $(selector).change());
                });

                function changeColumnsVisibility(colIndexes, show, localstorageKey) {
                    colIndexes.forEach(colIndex => $('#allProposals').dataTable().fnSetColumnVis(colIndex, show));
                    if(localstorageKey) {
                        localStorage.setItem(localstorageKey, ""+show);
                    }
                }
                function showMyVotes(show) { changeColumnsVisibility([6], show, "showMyVotes"); }
                function showGTVotes(show) { changeColumnsVisibility([2,5], show, "showGTVotes"); }
                function showProposalType(show) { changeColumnsVisibility([10], show); }
                function showTrack(show) { changeColumnsVisibility([9], show); }
        </script>
        }
    }
