@(webuser: Webuser,
 events: List[Event],
 allProposalsForReview: List[Proposal],
 totalEvents:Long,
 page:Int,
 sort:Option[String],
 ascdesc:Option[String],
 track:Option[String],
 totalReviewed:Long,
 totalVoted:Option[Int],
 totalToReview:Int,
 totalDelayedReviews:Long,
 pageReview:Int,
 totalToReviewFiltered:Int
)(implicit flash: Flash, lang: Lang, req:RequestHeader)

@main("CFP Admin") {
    <div class="row pt-3">

        <div class="col-md-12 col-sm-12 col-lg-12">
            <a href="@routes.LeaderboardController.leaderBoard()" class="btn btn-sm btn-success"><i aria-hidden="true" class="fas fa-trophy"></i> @Messages("admin.btn.leaderboard")</a>
            <a href="@routes.GoldenTicketAdminController.showStats()" class="btn btn-sm btn-success"><i aria-hidden="true" class="fas fa-trophy"></i> Golden Tickets Stats</a>
            <a href="@routes.CFPAdmin.allMyWatchedProposals(selectedTrack=Some(ConferenceDescriptor.ConferenceTracks.JAVA.id))" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-eye"></i> @Messages("admin.btn.mywatches")</a>
            <a href="@routes.CFPAdmin.delayedReviews()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-clock"></i> @Messages("admin.btn.delayed-reviews")</a>
            <a href="@routes.CFPAdmin.allMyVotes(selectedTrack=Some(ConferenceDescriptor.ConferenceTracks.JAVA.id))" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-chart-bar"></i> @Messages("admin.btn.myvotes")</a>
            <a href="@routes.CFPAdmin.showProposalsNotReviewedCompareTo(None)" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-arrow-circle-right"></i> @Messages("admin.btn.otherReviewer")</a>
            <a href="@routes.CFPAdmin.allSponsorTalks()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-medal"></i> @Messages("admin.btn.sponsortalks")</a>
            <a href="@routes.CFPAdmin.allVotes()" class="btn btn-sm btn-warning"><i aria-hidden="true" class="fas fa-adjust"></i> @Messages("admin.btn.allvotes")</a>
            <a href="@routes.InviteController.allInvitations()" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-users"></i> @Messages("admin.btn.speakersInvited")</a>
            <a href="@routes.CFPAdmin.newOrEditSpeaker(None)" class="btn btn-sm btn-primary"><i aria-hidden="true" class="fas fa-umbrella"></i> @Messages("admin.btn.createNewspeaker")</a>
            @if(SecureCFPController.hasAccessToAdmin(req)){
                <a href="@routes.Backoffice.allProposals()" class="btn btn-sm btn-danger"><i aria-hidden="true" class="fas fa-exclamation-triangle"></i> @Messages("admin.btn.changeState")</a>
            }

            @if(flash.get("error").isDefined) {
                <div class="alert alert-danger alert-dismissable">
                    <strong>Error :</strong>
                    @flash.get("error").getOrElse("?")
                </div>
            }
            @if(flash.get("success").isDefined) {
                <div class="alert alert-success alert-dismissable">
                @flash.get("success").getOrElse("?")
                </div>
            }

        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="card">
                <div class="card-header">
                    <h3><i class="far fa-check-circle"></i> @Messages("admin.proposals.todolist.title") </h3>
                    @Messages("cfpadmin.totalReviewed",totalReviewed) / @Messages("cfpadmin.totalVoted",totalVoted.getOrElse(0)) / @Messages("cfpadmin.totalDelayedReviews",totalDelayedReviews) / @Messages("cfpadmin.totalToReview",totalToReview)
                </div>
                <div class="card-body">
                    <i class="fas fa-filter"></i> @Messages("cfp.filter.on") :
                    @Track.allIDs.map{idTrack=>
                        @if(track.isDefined && track.get == idTrack) {
                            <a href="@routes.CFPAdmin.index(page, pageReview, sort, ascdesc, Option(idTrack))" class="btn btn-sm btn-success">@Html(Messages(idTrack + ".label"))</a>
                        }else {
                            <a href="@routes.CFPAdmin.index(page, pageReview, sort, ascdesc, Option(idTrack))" class="btn btn-sm btn-primary">@Html(Messages(idTrack+".label"))</a>
                        }
                    }
                    - <a href="@routes.CFPAdmin.index(page, pageReview, sort, ascdesc, None)" class="btn btn-sm btn-outline-warning"><i class="fas fa-times"></i> @Messages("cfp.filter.off")</a>

                    @if(allProposalsForReview.nonEmpty) {
                        <br>
                        <br>
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>@tags.renderThTag("track", page, sort, ascdesc, pageReview)</th>
                                    <th>Speakers</th>
                                    <th>@tags.renderThTag("talkType", page, sort, ascdesc, pageReview)</th>
                                    <th>@Messages("admin.proposals.th.action")</th>
                                </tr>
                            </thead>
                            <tbody>
                            @allProposalsForReview.map { proposal: Proposal =>
                                <tr>
                                    <td>
                                        @proposal.title
                                        @if(proposal.tags.isDefined) {
                                            <br><br>
                                                @proposal.tags.get.filter(tag => tag.value.nonEmpty).map(tag => tags.renderProposalTag(tag, cfpAdmin = true))
                                            }
                                    </td>
                                    <td>
                                    @Messages(proposal.track.label)
                                    </td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker)
                                        @proposal.secondarySpeaker.map { sc =>
                                            @tags.renderGravatar(sc)
                                        }
                                        @proposal.otherSpeakers.map { s =>
                                            @tags.renderGravatar(s)
                                        }
                                    </td>
                                    <td>@Messages(proposal.talkType.id)</td>
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)" title="Open for review" class="btn btn-block btn-primary btn-sm">@Messages("admin.btn.review")</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        @tags.renderTablePaginator(req, "pageReview", pageReview, totalToReviewFiltered)

                    } else {
                        @if(track.isDefined){
                            <h4>@Messages("admin.cfp.empty.track", Messages(track.get +".leaderboard"))</h4>
                        }else{
                            <h4>@Messages("admin.cfp.empty")</h4>
                        }
                    }
                </div>
            </div>


        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="card">
                <div class="card-header">
                    <h3><i class="fab fa-stack-overflow"></i> @Messages("admin.cfp.recentEvents")</h3>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 100px">@Messages("admin.cfp.date")</th>
                                <th scope="col" style="width: 75px">@Messages("admin.cfp.author")</th>
                                <th scope="col" style="width: 200px">@Messages("admin.cfp.propId")</th>
                                <th scope="col">@Messages("admin.cfp.msg")</th>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <small>
                                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                                    @if(page > 0){
                                      <a href="@routes.CFPAdmin.index(page-1, pageReview, sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                                    }
                                    @if(page < totalEvents/20){
                                      <a href="@routes.CFPAdmin.index(page+1, pageReview, sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                                    }</small>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        @events.map { event: Event =>
                            <tr>
                                <td class="text-center">
                                    <small>@event.timezonedDate().toString("dd/MM HH:mm")</small>
                                </td>
                                <td class="text-center">
                                @tags.renderGravatar(event.creator,showName = false)
                                </td>
                                <td class="text-center">
                                    @event.linksFor(webuser).map { link =>
                                        <a href="@link.href" class="btn btn-sm btn-block btn-primary"><i class="fas @link.icon" aria-hidden="true"></i> @link.title</a>
                                    }
                                </td>
                                <td><small>@event.message()</small></td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <small>
                                    @Messages("admin.cfp.totalEvents"): @totalEvents - Page @page/@(totalEvents/20)
                                    @if(page > 0){
                                      <a href="@routes.CFPAdmin.index(page-1, pageReview, sort,ascdesc,track)">&lt; @Messages("previous.page")</a> -
                                    }
                                    @if(page < totalEvents/20){
                                      <a href="@routes.CFPAdmin.index(page+1, pageReview, sort,ascdesc,track)">@Messages("next.page") &gt;</a>
                                    }
                                    </small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
