@(allCFPWebusers:List[Webuser])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main("CFP program committee"){
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3><i class="fas fa-user-md"></i> @Messages("admin.btn.tracklead")</h3>
            </div>

            <div class="card-body">
            @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable">
            <strong>Error :</strong>
            @flash.get("error").get
            </div>
            }
            @if(flash.get("success").isDefined) {
            <div class="alert alert-success alert-dismissable">
            @flash.get("success").get
            </div>
            }
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>@Messages("firstName") @Messages("lastName")</th>
                        <th>@Messages("show.on.publisher.committee.page")</th>
                        <th>@Messages("update.publisher.committee.page")</th>

                    </tr>
                </thead>

                <tbody>
                    @allCFPWebusers.sortBy(_.cleanName).map{ webuser=>
                        <tr>
                            <td>@webuser.cleanName</td>
                            <td>@if(Webuser.isPublicVisible(webuser.uuid)){
                                    true
                                } else {
                                    false
                                }
                            </td>
                            <td>
                                <a href="@routes.CFPAdmin.switchPublicVisibility(webuser.uuid)">Switch</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <a href="@routes.Backoffice.homeBackoffice()" class="btn btn-primary">Go back to Backoffice</a>
            </div>
        </div>
    </div>
</div>
}
