@(params: controllers.LeaderBoardParams,
  golden: controllers.GoldenTicketsParams)(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Leaderboard") {
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="panel-title"><i class="fas fa-trophy"></i> Leaderboard</h1>
                    <small>Stats are computed every 10 minutes</small><br>
                    <small><a href="@routes.LeaderboardController.doComputeLeaderBoard()" class="btn btn-sm btn-primary"><i class="fas fa-compass"></i> Trigger a refresh now</a></small>
                </div>

                <div class="card-body">
                    <div class="row mt-5">
                        <div class="col-md-3">
                        <h1>@params.totalSpeakers</h1>
                        <small><i class="fas fa-user"></i> speakers</small>
                    </div>

                        <div class="col-md-3">
                        <h1>@params.totalApprovedSpeakers</h1>
                        <small><i class="fas fa-user"></i> approved speakers</small><br>
                    </div>

                        <div class="col-md-3">
                        <h1>@params.totalRefusedSpeakers</h1>
                        <small><i class="fas fa-user"></i> refused speakers</small><br>
                    </div>

                        <div class="col-md-3">
                        <h1>@params.totalWithTickets</h1>
                        <small><i class="fas fa-user"></i> with a @Messages("shortName") Pass</small><br>
                    </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-3">
                        <h1>@params.totalProposals</h1>
                        <small><i class="fas fa-book"></i> proposals</small>
                    </div>

                        <div class="col-md-3">
                        <h1>@params.totalWithVotes</h1>
                        <small><i class="fas fa-eye"></i> proposals with vote</small>
                    </div>

                        <div class="col-md-3">
                        <h1><a href="@routes.CFPAdmin.showProposalsWithNoVotes()">@params.totalNoVotes</a></h1>
                        <small><i class="fas fa-eye-slash"></i> proposals with no vote (incl. Draft)</small>
                    </div>

                        <div class="col-md-3">
                        <h1>@params.totalVotes</h1>
                        <small><i class="fas fa-camera-retro"></i> reviews</small>
                    </div>
                    </div>
                    <div class="row mt-5">

                        <div class="col-md-3">
                        <br>
                        <small><a href="@routes.LeaderboardController.allProposalsByCompany()" class="btn btn-sm btn-warning">All Proposals by Company</a></small>
                    </div>

                        <div class="col-md-3">
                        <br>
                        <small><a href="@routes.CFPAdmin.allApprovedSpeakersByCompany()" class="btn btn-sm btn-success">Approved Speakers by Company</a></small>
                    </div>

                    </div>
                    <div class="row mt-5">

                        <div class="col-md-4">
                        <h3><i class="fas fa-star"></i> Most Votes</h3>
                        @params.mostReviewed.map { mr =>
                            @tags.renderGravatarByProposal(mr._1)
                            <a href="@routes.CFPAdmin.showVotesForProposal(mr._1)">@mr._1</a> with @mr._2 votes
                        }
                        <br><br><small><a href='@routes.CFPAdmin.allVotes()' class="btn btn-sm btn-primary">See all Votes</a></small>
                    </div>

                        <div class="col-md-4">
                        <h3><i class="fas fa-bell"></i> Eager Speakers</h3>
                        @params.proposalsBySpeakers.sortBy(_._2).reverse.take(5).map { br =>
                            @tags.renderGravatar(br._1)
                            @tags.renderTotalWithLabel(br._2, "proposal", "proposals")
                        }
                    </div>
                        <div class="col-md-4">
                        <h3><i class="fas fa-comments"></i> Most Debatable</h3>
                        @params.totalCommentsPerProposal.sortBy(_._2).reverse.take(10).map { tc =>
                            @tags.renderGravatarByProposal(tc._1)
                            <a href="@routes.CFPAdmin.openForReview(tc._1)">@tc._1</a> with @tc._2 comments
                        }
                    </div>

                    </div>
                    <div class="row mt-5">

                        <div class="col-md-4">
                        <h3><i class="fas fa-trophy"></i> Top Reviewers</h3>
                        @params.bestReviewers.reverse.take(5).map { br =>
                            @tags.renderGravatar(br.uuid)
                            @tags.renderTotalWithLabel(br.totalTalksReviewed, "talk reviewed", "talks reviewed")
                        }
                        <br><br><small><a href="@routes.LeaderboardController.allReviewersAndStats()" class="btn btn-sm btn-primary">See all reviewers</a></small>
                    </div>

                        <div class="col-md-4">
                        <h3><i class="fas fa-ambulance"></i> The Lazy One's</h3>
                        @params.lazyOnes.filter(_._2.toInt < 5).map { wr =>
                            @tags.renderGravatar(wr._1)
                            @tags.renderTotalWithLabel(wr._2.toInt, "talk reviewed", "talks reviewed")
                        }
                    </div>
                        <div class="col-md-4">
                        <h3><i class="fas fa-heart"></i> Generous One's</h3>
                        @params.generousVoters.sortBy(_._2).reverse.take(5).map { wr =>
                            @tags.renderGravatar(wr._1)
                        <small>avg. rating of @wr._2</small>
                        }
                    </div>

                    </div>
                    <div class="row mt-5">

                    @if(golden.stats.nonEmpty) {
                        <div class="col-md-12 goldenticket">
                            <h3><i class="fas fa-ticket-alt"></i> Golden Ticket Stats</h3>

                            <div class="row mt-5">

                            <div class="col-md-3">
                                <h1>@golden.totalTickets</h1>
                                <small><i class="fas fa-ticket-alt"></i> Tickets Created</small>
                            </div>

                            <div class="col-md-3">
                                <h1>@golden.stats.count(st => st._3 > 0)</h1>
                                <small><i class="fas fa-ticket-alt"></i> Active Voters</small>
                            </div>

                            <div class="col-md-3">
                                <h1>@golden.stats.map(st => st._2).sum</h1>
                                <small><i class="fas fa-ticket-alt"></i> Total Points Given</small>
                            </div>

                            <div class="col-md-3">
                                <h1>@golden.stats.map(st => st._3).sum</h1>
                                <small><i class="fas fa-ticket-alt"></i> Proposals Reviewed</small>
                            </div>
                            </div>

                            @if(golden.stats.size > 4) {
                                <div class="row mt-5">
                                <div class="col-md-4">
                                    @golden.stats.sortBy(_._3).reverse.take(5).map { gt =>
                                        @tags.renderTotalWithLabel(gt._3, "review", "reviews")
                                        by @Webuser.findByUUID(gt._1).map(_.cleanName)<br>
                                    }
                                </div>

                                @if(golden.stats.size > 9) {
                                    <div class="col-md-4">
                                        @golden.stats.sortBy(_._3).reverse.slice(5, 10).map { gt =>
                                            @tags.renderTotalWithLabel(gt._3, "review", "reviews")
                                            by @Webuser.findByUUID(gt._1).map(_.cleanName)<br>
                                        }
                                    </div>

                                    @if(golden.stats.size > 14) {
                                        <div class="col-md-4">
                                            @golden.stats.sortBy(_._3).reverse.slice(10, 15).map { gt =>
                                                @tags.renderTotalWithLabel(gt._3, "review", "reviews")
                                                by @Webuser.findByUUID(gt._1).map(_.cleanName)<br>
                                            }
                                        </div>
                                    }
                                }
                                </div>
                            }

                            <div class="row">

                            <div class="col-md-4">
                                <br>
                                <small><a href='@routes.GoldenTicketAdminController.showStats()' class="btn btn-sm btn-warning">More Golden Stats</a></small>
                            </div>

                            <div class="col-md-4">
                            </div>

                            <div class="col-md-4">
                            </div>
                            </div>
                        </div>
                    }


                    </div>
                    <div class="row mt-5">
                    @if(params.totalSubmittedByTrack.nonEmpty){
                    <div class="col-md-6">
                        <h3>Submitted by Track</h3>
                            @defining(params.totalSubmittedByTrack.values.max){maxValue=>
                            @params.totalSubmittedByTrack.map{case(track,total)=>
                                <span class="badge badge-info">@total</span> @Messages(track+".label") <a href="@routes.CFPAdmin.allProposalsByTrack(track)"><i class="fas fa-arrow-right"></i></a>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                        <span class="sr-only">@Messages(track)</span>
                                </div>
                                </div>
                            }
                            }
                    </div>
                        }

                    @if(params.totalSubmittedByType.nonEmpty){
                    <div class="col-md-6">
                        <h3>Submitted by Type</h3>
                        <table class="table table-bordered table-simple">
                            <thead>
                                <tr>
                                    <th>Proposal type</th>
                                    <th>Proposal received</th>
                                    <th>Total slots</th>
                                    <th>Proposal approved</th>
                                    <th>To allocate</th>
                                </tr>
                            </thead>
                        @params.totalSubmittedByType.map { case (propType, total) =>
                            <tbody>
                                <tr>
                                    <th>@Messages(propType) <a href="@routes.CFPAdmin.allProposalsByType(propType)"><i class="fas fa-arrow-right"></i></a></th>
                                    <td><span class="badge badge-warning">@total</span></td>
                                    <td><span class="badge badge-success">@params.totalSlotsToAllocate.get(propType+".label")</span></td>
                            @defining(models.ApprovedProposal.countApproved(propType)) { approvedTotal =>
                                       <td><span class="badge badge-primary">@approvedTotal</span> </td>
                                       <td><span class="badge badge-danger">@(params.totalSlotsToAllocate.get(propType+".label").map(s=>s-approvedTotal))</span> </td>
                            }
                                </tr>
                            </tbody>
                        }
                        </table>
                    </div>
                    }

                    </div>
                    <div class="row mt-5">

                    @if(params.allApprovedByTrack.nonEmpty) {
                        <div class="col-md-6">
                        <h3>Approved by Track (total @params.allApprovedByTrack.size)</h3>
                        @defining(params.allApprovedByTrack.values.max){maxValue=>
                            @params.allApprovedByTrack.map{case(track,total)=>
                                <span class="badge badge-info">@total</span> @Messages(track)
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                        <span class="sr-only">@Messages(track)</span>
                                </div>
                                </div>
                            }
                            }

                        </div>
                    }
                    @if(params.allApprovedByTalkType.nonEmpty) {
                        <div class="col-md-6">
                            <h3>Approved by Type</h3>

                            @params.allApprovedByTalkType.map { case (propType, total) =>
                                @Messages(propType) : <span class="badge badge-warning">@total</span>
                                approved submissions for <span class="badge badge-success">@params.totalSlotsToAllocate.get(propType + ".label")</span> slots<br>
                            }
                        </div>
                    }

                    </div>
                    <div class="row mt-5">
                    @if(params.totalAcceptedByTrack.nonEmpty){
                     <div class="col-md-6">
                        <h3>Accepted by Track</h3>
                            @defining(params.totalAcceptedByTrack.values.max){maxValue=>
                            @params.totalAcceptedByTrack.map{case(track,total)=>
                                <span class="badge badge-info">@total</span> @Messages(track)
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                        <span class="sr-only">@Messages(track)</span>
                                </div>
                                </div>
                            }
                            }
                    </div>
                    }

                    @if(params.totalAcceptedByType.nonEmpty){
                    <div class="col-md-6">
                        <h3>Accepted by Type</h3>
                        <p>Talk accepted by a speaker</p>
                        @params.totalAcceptedByType.map { case (propType, total) =>
                                @Messages(propType) : <span class="badge badge-warning">@total</span>
                                accepted submissions for <span class="badge badge-success">@params.totalSlotsToAllocate.get(propType+".label")</span> slots<br>
                            }
                    </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
