@(allMyVotes:List[(String,Double)],
    allMyVotesExcludingAbst:List[(String,Double)],
    relatedProposals:Map[String,Proposal],
    talkType:String,
    selectedTrack: Option[String],
    delayedReviewsCount: Long,
    proposalNotReviewedCountByType: Map[String,Int],
    proposalNotReviewedCountForCurrentTypeByTrack: Map[String,Int],
    firstProposalNotReviewed: Option[Proposal]
)(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("All my votes") {

    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 class="panel-title"><i class="fas fa-chart-bar"></i> @Messages("gt.yourVotes")</h1>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                    <h3><i class="fas fa-flask"></i> @Messages("gt.personnal")</h3>
                    @tags.renderMyReviewsSearchCriteria(
                        refreshPathAction=(confType, selectedTrack) => routes.GoldenTicketController.allMyGoldenTicketVotes(confType, selectedTrack),
                        availableTalkTypes=models.ConferenceDescriptor.ConferenceProposalTypes.ALL.filter(models.ConferenceDescriptor.ConferenceProposalConfigurations.accessibleTypeToGoldenTicketReviews(_)),
                        talkType, selectedTrack,
                        proposalNotReviewedCountByType, proposalNotReviewedCountForCurrentTypeByTrack
                    )
                    <br/>

                    @defining(selectedTrack.flatMap(track =>proposalNotReviewedCountForCurrentTypeByTrack.get(track)).getOrElse(proposalNotReviewedCountByType.get(talkType).getOrElse(0))){ (remainingReviews: Int) =>
                        @Messages("gt.youReviewed", (remainingReviews + allMyVotes.size), allMyVotes.size, remainingReviews)
                    }

                    @if(delayedReviewsCount > 0) {
                        @Messages("gt.delayed-reviews.message", delayedReviewsCount)
                        <a href="@routes.GoldenTicketController.delayedReviews()" title="Show delayed reviews" class="btn btn-primary btn-sm">@Messages("gt.btn.delayed-reviews")</a>
                        <br/>
                    }

                    @if(firstProposalNotReviewed.isDefined){
                        <a href="@routes.GoldenTicketController.openForReview(firstProposalNotReviewed.get.id)" title="Open for review" class="btn btn-primary btn-sm">@Messages("admin.btn.review")</a>
                    }
                    <br>

                    @defining(allMyVotesExcludingAbst.map(_._2)){allScores=>
                        @Messages("gt.youVoted", allScores.size)<br>
                        @Messages("gt.averageVote", library.Stats.average(allScores))
                    }
                </div>
                @if(allMyVotes.nonEmpty){
                    <div class="col-md-12">
                       <h3><i class="fas fa-chart-bar"></i> @Messages("gt.myvotes", Messages(talkType))</h3>

                        <table id="tableMyVotes" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 145px">Score</th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Track</th>
                                    <th>Speakers</th>
                                </tr>
                            </thead>
                            <tbody>

                                @allMyVotes.map { case (proposalId, vote) =>
                                     @defining(Math.round(vote)){ score =>
                                    <tr>
                                        <td class="score" data-score-updated="false" data-initial-score="@score" data-score="@score" data-pid="@proposalId">
                                            <div class="btn-group btn-group-xs">
                                                <button class="btn minus btn-xs" style="margin-left:3px; margin-right: 3px; width: 34px">-</button>
                                                <button class="btn btn-xs displayed-score"><span class="abs-score">@Messages("Abs")</span><span class="regular-score">@score</span></button>
                                                <button class="btn plus btn-xs" style="margin-left:3px; margin-right: 3px; width: 34px;">+</button>
                                                <a href="@routes.GoldenTicketController.allMyGoldenTicketVotes(talkType, selectedTrack)" class="btn btn-xs btn-primary refresh"><i class="fas fa-sync"></i></a>
                                            </div>
                                        </td>

                                    <td><a href="@routes.GoldenTicketController.openForReview(proposalId)" class="btn btn-sm btn-primary">@proposalId</a></td>
                                    @relatedProposals.get(proposalId).map { proposal =>
                                        <td>
                                            <small>@proposal.title</small>
                                        </td>

                                        <td>
                                            <small>@Messages(proposal.track.label)</small>
                                        </td>
                                        <td>
                                            <small>@proposal.allSpeakers.map(_.cleanName).mkString(", ")</small>
                                        </td>
                                    }
                                </tr>
                                }
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    function handleVote(selector, updateVoteCallback){
        $('#tableMyVotes').find(selector).on('click', function(event) {
            var $btnClicked = $(event.currentTarget);
            var $cell = $btnClicked.parents('td');

            var newScore = updateVoteCallback(Number($cell.attr('data-score')));
            var proposalId = $cell.attr('data-pid');

            $.ajax({
                url: '/cfp/goldenticket/proposals/'+proposalId+'/vote?vote='+newScore,
                cache: false
            }).then(function(){
                $cell.find('.regular-score').text(newScore);
                $cell.attr('data-score', newScore);
                $cell.attr('data-score-updated', ''+newScore !== $cell.attr('data-initial-score'));
                console.log('Vote '+proposalId+' set to '+newScore);
            });
        });
    }

    handleVote('.btn.plus', function(score) { return score+1; });
    handleVote('.btn.minus', function(score) { return score-1; });
});
</script>

}
