@(members:Set[Speaker])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@views.html.Publisher.devoxxFR("Comité de sélection", Some("Devoxx FR 2022")) {
    <section class="bg-white py-8">
        <div class="container max-w-5xl mx-auto m-8">
            <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
                <img src="@routes.Assets.at(path="/public",file="devoxx_fr_2022/frise_devoxx_fr.png")" alt="Devoxx FR frise" width="1000" height="274">
                Devoxx France 2022<br>
                <p class="text-2xl font-bold text-center">Comité de sélection</p>
                <p class="text-center text-small">@members.size personnes</p>
            </h1>

        </div>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
    </section>

    <section class="bg-white">
        <div class="container mx-auto flex flex-wrap pt-4 pb-12">
            @members.map { speaker: Speaker =>
                <div class="w-full mb-5 md:w-1/4 lg:w-1/4 sm:w-1/3 p-6 flex flex-col flex-grow flex-shrink3 text-body text-black">
                    <div class="bg-gray-100 p-3 rounded-md">
                        <a href="@routes.Publisher.showSpeaker(speaker.uuid, speaker.urlName)"
                        class="flex flex-wrap no-underline hover:no-underline">
                            @speaker.avatarUrl.map { url =>
                                <img src="@url" class="w-32 p-4 bg-gray-200" alt="@speaker.cleanName" title="@speaker.cleanName">
                            }.getOrElse {
                                <img src="//www.gravatar.com/avatar/@Webuser.gravatarHash(speaker.email)?s=128" class="w-32 p-4 bg-gray-200" alt="@speaker.cleanName" title="@speaker.cleanName"/>
                            }
                            <p class="mt-2 text-sm text-gray-800 block">@speaker.cleanName</p>
                        </a>
                        @speaker.cleanTwitter.map { tw =>
                            <a href="https://www.twitter.com/@tw" target="new" class="mt-2 text-sm text-gray-600 block hover:underline text-yellow-700">@tw</a>
                        }
                    </div>
                </div>
            }
        </div>
    </section>



}
