@(slots: List[Slot], rooms: List[Room], day: String, maybeProgramSchedule: Option[ProgramSchedule], secretPublishKey: Option[String], hideUselessRooms: Boolean, includeTypes: Option[String], excludeTypes: Option[String])(implicit lang: Lang, req: RequestHeader, flash:Flash)
    @views.html.Publisher.devoxxFR2020(Messages(s"sw.show.$day")) {
    <style>
@*    @@media print {*@
    /** BEGINNING BLOCK OF PROGRAM SCHEDULE'S PRINT CSS SNIPPET SPECIFITIES **/

    @maybeProgramSchedule.flatMap(_.specificScheduleCSSSnippet).getOrElse("")

    /** END BLOCK OF PROGRAM SCHEDULE'S PRINT CSS SNIPPET SPECIFITIES **/
@*    } *@
    </style>

    <div class="large-12 columns">
        <h1 class="entry-title">@Messages(s"day-$day") @includeTypes.map(types => {
            s"(${types.split(",").map { typeId => Messages(typeId) }.mkString(", ")})"
        } )</h1>
        <p class="breadcrumb hide-on-print"><a href="@routes.Publisher.homePublisher()">@Messages("sw.home")</a> &gt;
            <a href="@routes.Publisher.showByDay("wed", secretPublishKey, hideUselessRooms, includeTypes, excludeTypes)">@Messages("sw.agenda.wed")</a> /
            <a href="@routes.Publisher.showByDay("thu", secretPublishKey, hideUselessRooms, includeTypes, excludeTypes)">@Messages("sw.agenda.thu")</a> /
            <a href="@routes.Publisher.showByDay("fri", secretPublishKey, hideUselessRooms, includeTypes, excludeTypes)">@Messages("sw.agenda.fri")</a>
        </p>

        @if(!maybeProgramSchedule.exists(_.showRooms)) {
            <p class="hide-on-print">@Messages("publisher.room.disclaimer")</p>
        }
    </div>

    <div class="columns large-12 woocommerce">
        <table class="agendaTable for_day_@day skip-mb-on-print">
             @if(maybeProgramSchedule.exists(_.showRooms)) {
                 <tr class="rooms">
                     <th><i class="far fa-calendar-alt-check"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { room: Room =>
                         <td class="room room_is_@room.cssId">
                             <div class="main-title">@room.scheduleMainTitle</div>
                             @room.scheduleSecondaryTitle.map { secondaryTitle: String => <div class="secondary-title">@secondaryTitle</div> }
                         </td>
                     }
                 </tr>
             }
            @slots.groupBy(s=> s.from.getMillis).toList.sortWith(_._1 < _._1).map { case (_, subSlots) =>
                <tr>
                    <th class="timeSlot">
                        @subSlots.head.from.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm") - @subSlots.head.to.toDateTime(ConferenceDescriptor.current().timezone).toString("HH:mm")
                    </th>
                    @rooms.sorted.zipWithIndex.map { case (room, index) =>
                        @tags.publisher.tagRenderRow(subSlots, room, index, rooms.sorted, slots, showTimeBox=false, secretPublishKey, maybeProgramSchedule.exists(_.favoritesActivated), debug = false)
                    }
                </tr>
            }
            @if(maybeProgramSchedule.exists(_.showRooms)) {
                  <tr class="rooms">
                     <th><i class="far fa-calendar-alt-check"></i> @Messages("publisher.room")</th>
                     @rooms.sorted.map { room: Room =>
                         <td class="room">
                             <div class="main-title">@room.scheduleMainTitle</div>
                             @room.scheduleSecondaryTitle.map { secondaryTitle: String => <div class="secondary-title">@secondaryTitle</div> }
                         </td>
                     }
                 </tr>
            }
        </table>
    </div>
    <ul class="schedule-legend">
        @slots.flatMap(s => s.proposal.map(_.talkType)).distinct.map { proposalType =>
            <li class="proposalType proposal_type_is_@proposalType.id">@Messages(proposalType.simpleLabel)</li>
        }
        @slots.flatMap(s => s.proposal.map(_.track)).distinct.map { track =>
            <li class="track proposal_track_is_@track.id"><i class="proposal_badge track"></i> @Messages(track.label)</li>
        }
    </ul>

    @if(maybeProgramSchedule.exists(_.favoritesActivated)) {
            <!-- *** Javascript for Favorite talk *** //-->
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {

                    $('.cfp-fav').on("click",function(event) {
                        var maybePropoposalId = $(this).data('proposal-id');
                        var clickedElement=$(this);
                        var $star = clickedElement.find(".fa-star")

                        console.log("--> Sending "+maybePropoposalId);
                        if(typeof maybePropoposalId != 'undefined'){
                            event.preventDefault();

                            $($star).removeClass("fa-star far").addClass("fas fa-spinner fa-spin")
                            // This works only if you are authenticated with a signed cookie and a valid play2 session
                            $.post('/favorites/likeOrUnlink' ,{proposalId:maybePropoposalId},
                                function( jsonResponse ) {
                                    if(jsonResponse.status==="unfav"){
                                        console.log("<-- Unfav ok");
                                        $($star).addClass("far fa-star").removeClass("fas fa-spinner fa-spin")
                                    }
                                    if(jsonResponse.status==="fav"){
                                        console.log("<-- Fav ok");
                                        $($star).addClass("fa-star").removeClass("far fa-spinner fa-spin")
                                    }
                                },"json");
                        }else{
                            console.log("No valid proposalId. Please help me to debug, report your web browser version and platform.");
                        }
                    });

                });
            })(jQuery);
        </script>
    }
}
