@(proposals:List[Proposal], filterByStatus:Option[String])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Admin - all talks") {

    <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="fas fa-thumbs-up"></i> CFP Admin</h2>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>All Proposals</h3>


            @if(flash.get("error").isDefined){
                <div class="alert alert-danger alert-dismissable col-md-12">
                    <strong>Error :</strong>
                    @flash.get("error").get
                </div>
            }
            @if(flash.get("success").isDefined){
                <div class="alert alert-success alert-dismissable col-md-12">
                @Html(flash.get("success").get)
                </div>
            }

            <div>
                Show only :
                @models.ProposalState.allAsCode.map { code =>
                    <a href="@routes.Backoffice.allProposals(None,Some(code))">@code</a> -
                }
            </div>
            <div>
                See also :
                <a href="@routes.CFPAdmin.allSpeakers()">All speakers</a> -
                <a href="@routes.CFPAdmin.allSpeakersWithApprovedTalks()">All speakers with approved talk</a>
            </div>
        </div>

        <div class="card-body">

            @if(proposals.nonEmpty){
            <table id="allProposals" class="table table-bordered table-hover table-condensed" aria-label="all Proposals">
                <thead>
                    <tr>
                        <th>Proposal id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Change current status</th>
                    </tr>
                </thead>
                <tbody>
                @proposals.map{ proposal =>
                    @defining(ApprovedProposal.isRefused(proposal.id, proposal.talkType.id)) { refused =>
                        @defining(ApprovedProposal.isApproved(proposal.id, proposal.talkType.id)) { approved =>
                            <tr class="preselected_@approved refused_@refused">
                                <td>
                                    <small><a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.id</a></small>
                                </td>
                                <td>
                                    <small>@proposal.title</small>
                                </td>
                                <td>
                                @tags.renderGravatar(proposal.mainSpeaker, showPhoto = false)
                                </td>
                                <td>
                                    <span class="badge badge-@proposal.state.code">@proposal.state.code</span>
                                </td>
                                <td>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.SUBMITTED.code, filterByStatus)" class="btn btn-sm btn-info">
                                        Submitted</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.APPROVED.code, filterByStatus)" class="btn btn-sm btn-warning">
                                        Approved</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.ACCEPTED.code, filterByStatus)" class="btn btn-sm btn-success">
                                        Accepted</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.BACKUP.code, filterByStatus)" class="btn btn-sm btn-dark">
                                        Backup</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.DECLINED.code, filterByStatus)" class="btn btn-sm btn-danger">
                                        Declined</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.REJECTED.code, filterByStatus)" class="btn btn-sm btn-danger">
                                        Rejected</a> </small>
                                    <small><a href="@routes.Backoffice.changeProposalState(proposal.id, ProposalState.CANCELLED.code, filterByStatus)" class="btn btn-sm btn-dark">
                                        Cancelled</a> </small>

                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
            }else{
                <P>There is no proposal with status @filterByStatus</P>
            }
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    $('#allProposals').dataTable({
        "aaSorting": [[ 4, "desc" ]],
        "iDisplayLength": 50,
        "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "bStateSave": true,
        "aoColumns": [
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"},
        { "sType": "string"}
        ]
    });
} );
</script>
}
