.scheduleHeader {
    text-align: center;
    background-color: #211c1b;
    color: white;
}

.scheduleRow {
    background-color: #f5f5f5;
    border-color: #CED4BD;
    border-style: solid;
    border-width: 1px;

    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scheduleRight {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.agendaTable {
    border: 1px solid #ffd297;
} @media print { .agendaTable { width: min-content; } }

.agendaTable .button.secondary, .agendaTable .button.secondary:focus {
    background: #2C3E50;
    color: gold;
}
.agendaTable .button.secondary:hover {
    background: white;
    color: #f54f36;
}

.agendaTable th {
    background-color: #211c1b;
    color: white;
}

.agendaTable td.room {
    vertical-align: top;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.agendaTable td.keynotes {
    text-align: center;
    background-color: #dbdbdb;
    height: 30px;
    line-height: 55px;
}

.agendaTable .timeSlot {
    padding: 5px 4px;
    white-space: nowrap;
} @media print { .agendaTable .timeSlot { font-size: 0.7rem; } }

.agendaTable .title, .agendaTable .room .main-title {
    padding-bottom: 5px;
    display: block;
    font-weight: 600;
    line-height: normal;
} @media print { .agendaTable .title, .agendaTable .room .main-title { font-size: 0.55rem; } }

.agendaTable .room .main-title {
    white-space: nowrap;
}

.schedule-legend li {
    font-weight: 600;
    line-height: normal;
} @media print { .schedule-legend li { font-size: 0.65rem; } }

.agendaTable .title {
    margin-bottom: 8px;
}

.agendaTable .proposal.lang_is_en .title {
    /* Adding some extra padding because of top-right ribbon */
    padding-top: 12px;
    padding-right: 12px;
}

.lang_is_fr .ribbon-wrapper {
    display: none;
}


.agendaTable .speaker, .agendaTable .room .secondary-title {
    font-style: italic;
    display: block;
    font-weight: 400;
    line-height: normal;
} @media print { .agendaTable .speaker, .agendaTable .room .secondary-title { font-size: 0.45rem; } }

.agendaTable .iconTrack {
    display: block;
    height: 123px;
    width: 180px
}

.agendaTable .room {
    vertical-align: top;
    border: 1px solid #ffd297;
}

.agendaTable .proposal {
    vertical-align: top;
    border: 1px solid #ffd297;
}

.agendaTable .track {
    display: block;
} @media print { .agendaTable .track { font-size: 0.8em; } }

.agendaTable span.timeSlotBox{
    display: block;
    background-color: #f4b787;
    color:white;
    padding: 2px;
    text-align: center;
} @media print { .agendaTable span.timeSlotBox { font-size: 0.8em; } }
.agendaTable div.timeSlotBox{
    position: absolute;
    bottom: 0;
    width: 100%
} @media print { .agendaTable div.timeSlotBox { display: none !important } }
.agendaTable p.timeSlotBox{
    margin: 5px 5px 0px 0px;
    text-align: right !important
} @media print { .agendaTable p.timeSlotBox { font-size: 0.8em; } }

.agendaTable .proposalType {
    display: block;
    background-color: #f4882d;
    color:white;
    padding: 2px;
    text-align: center;
} @media print { .agendaTable .proposalType { font-size: 0.8em; } }

.schedule-legend {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.schedule-legend .proposalType, .schedule-legend .track {
    display: inline-block;
    padding: 5px;
    position: relative;
}

.agendaTable td.proposal {
    padding: 0px;
    text-align: center;
    position: relative
}

.agendaTable td.proposal .content {
    padding: 4px;
}

.proposal_type_is_uni { background-color: #d8c2ff; }
.proposal_type_is_lab { background-color: #fddcfd; }
.proposal_type_is_conf { background-color: #ccfecc; }
.proposal_type_is_tia { background-color: #daeff4; }
.proposal_type_is_quick { background-color: #fffec3; }
.proposal_type_is_bof { background-color: #dee3f6; }
.proposal_type_is_key { background-color: #ffcb9e; }
.proposal_type_is_other { background-color: #d6fff5; }
.agendaTable .proposal.tba { background-color: #eeeeee; padding: 2px; }
.agendaTable .room-closed { background-color: #bbbbbb; padding: 2px; }

/* Only used for debug purposes */
.agendaTable .max-cell-height {
    border: 4px red solid;
}
.agendaTable .warning-cell-height {
    border: 4px orange solid;
}

.agendaTable .proposal_actions {
} @media print { .agendaTable .proposal_actions { display: none; } }

.agendaTable .proposal .cfp-fav {
    line-height: 1.3;
}


i.proposal_badge {
    background-repeat: no-repeat;
    margin: 2px;
    z-index: 0;
}

.proposal .proposal_badge.track {
    position: absolute;
    bottom: 0px;
    left: 2px;
}

.schedule-legend i.proposal_badge {
    top: 5px;
}

i.proposal_badge.track {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
i.en_badge {
    position: absolute;
    background-image: url('/assets/images/en_highres.png');
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
    background-repeat: no-repeat;
} @media print { i.en_badge {background-size: 10px 8px; width: 10px; height: 8px;}}

.proposal_track_is_java i.proposal_badge.track { background-image: url('images/track-icons/java.png'); }
.proposal_track_is_mobile i.proposal_badge.track { background-image: url('images/icon_mobile.png'); }
.proposal_track_is_wm i.proposal_badge.track { background-image: url('images/track-icons/front.png'); }
.proposal_track_is_archisec i.proposal_badge.track { background-image: url('images/track-icons/arch.png'); }
.proposal_track_is_cldops i.proposal_badge.track { background-image: url('images/track-icons/cloud.png'); }
.proposal_track_is_agTest i.proposal_badge.track { background-image: url('images/track-icons/method.png'); }
.proposal_track_is_bigd i.proposal_badge.track { background-image: url('images/track-icons/bigd.png'); }
.proposal_track_is_future i.proposal_badge.track { background-image: url('images/track-icons/mind.png'); }
.proposal_track_is_lang i.proposal_badge.track { background-image: url('images/track-icons/langs.png'); }
.proposal_track_is_unknown i.proposal_badge.track { background-image: url('images/track-icons/server.png'); }

.agendaTable .talkType{
    display: block;
    background-color: #1f1f1f;
    color:white;
    padding: 2px;
    text-align: center;
}

.speakerDetail {
    max-height: 128px;
    max-width: 128px;
    float: left;
    margin-right: 20px;
    margin-top: 22px;
}

a.speakerTwitter, a.blackLink {
    color: #222222;
    text-decoration: none;
}
.arrow-right:before {
     content: '\25ba';
}

.trackBox {
    min-height: 288px;
    position: relative;
    padding: 10px;
}

table.mainSchedule {
    width: 100%;
}

tr.rowHeightThree {
    height: 100px;
}

td.break {
    background-color: #fee3ca;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
} @media print { td.break { font-size: 0.55rem; } }

td.notAllocated {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    max-width: 16%;
    border: 1px solid #ffd297;
}

button.searchBtn {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    background-color: #f54f36;
    margin-top: 5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

h4.speakerTitle {
    padding-top: 15px;
}

a:hover.cfp-fav {
    color: coral;
    height: 1.2em;
}

input.cfp-fav {
    display: none;
}

label.cfp-lab {
    display: inline-block;
    width:100%;
    height:22px;
    padding: 0;
    margin: 4px 0 0;
    text-align: right;
    background:url('/assets/images/fav/not_fav.png') no-repeat;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input.cfp-fav:checked + label.cfp-lab {
    height:22px;
    margin: 4px 0 0;
    padding: 0;
    background: url('/assets/images/fav/fav.png') no-repeat;
}

.alert-success {
    display: block;
    padding: 15px;
    background-color: #05b60e;
    color:white;
}

.alert-error {
    display: block;
    padding: 15px;
    background-color: #e46f59;
    color:white;
}

.tagLabel {
    background-color: lightgray;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 4px;
    border-radius: 6px;
    padding-bottom: 2px;
}

.single-content.row .skip-max-width-on-divs div {
    max-width: none;
}

.ribbon-wrapper {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;
} @media print { .ribbon-wrapper {width: 28px;height: 28px;top: -1px;right: -1px;}}

.ribbon-white {
    font: bold 10px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 4px 12px 17px 0px;
    left: -6px;
    top: 3px;
    width: 75px;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#CECECE));
    background-image: -webkit-linear-gradient(top, white, #CECECE);
    background-image: -moz-linear-gradient(top, white, #CECECE);
    background-image: -ms-linear-gradient(top, white, #CECECE);
    background-image: -o-linear-gradient(top, white, #CECECE);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}  @media print { .ribbon-white {
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    top: 4px;
    left: -5px;
    width: 45px;
    }
}
