/*
 * The MIT License (MIT)
 *
 * Copyright (c) 2013 Association du Paris Java User Group.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to
 * use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 * the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
@orange: #e1882e;
@darkorange: #cd4125;
@lightgrey: #838383;
@lightpastel: f6f3ee;
@dark: #1C1C1C;
@red: #A11B26;

.cfp-row:nth-child(even){
  background-color: #f9f9f9;
  border-bottom: 1px solid #d0d0d0;
}
.cfp-row:nth-child(odd){
  background-color: #f3f3f3;
  border-bottom: 1px solid #d0d0d0;
}


.help-block {
  font-size: 11px;
  color: #898;
}

.error {
  color: @darkorange;
}

.proposal {
  background-color: rgba(255, 245, 34, 0.33);
}

.proposal_prev {
  background-color: rgba(255, 245, 34, 0.33);
}

dd.info {
  display: none;
}

.msgSpeaker {
  font-size: 0.8em;
  color: @dark;
  display: block;
}

.yl {
  color: @orange;
}
.form-control-cfp{
  display: block;
  width: 100%;
  height: 43px;
  padding: 4px 4px;
  font-size: 15px;
  line-height: 1.428571429;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cfp-gravatars {
  display: inline-block;
}

.bs-docs-section {
  margin-top: 0;
}

.search-box {
  font-size: 12px;
  padding: 1px 10px;
  height: 40px;
  margin-top: 1px;
}

.searchResult {
  position: absolute;
  top: 47px;
  width: 80%;
  right: 15%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: none;
  font-size: 13px;
  z-index: 1;
}

.searching {
  font-style: italic;
  color: #788;
}

.search-error {
  font-style: normal;
  color: #ff2222;
}

.chart-container {
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#chart_container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#chart {
  position: relative;
  left: 40px;
}

#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#summary_field .help-block {
  display: none;
}

/* for page allVotes */
table#allProposals.dataTable.order-column tbody tr>.sorting_1,
table#allProposals.dataTable.order-column tbody tr>.sorting_2,
table#allProposals.dataTable.order-column tbody tr>.sorting_3,
table#allProposals.dataTable.display tbody tr>.sorting_1,
table#allProposals.dataTable.display tbody tr>.sorting_2,
table#allProposals.dataTable.display tbody tr>.sorting_3 {
  background-color: rgba(0,0,0,0.1)
}

.preselected_true {
  background-color: #fff8ba !important; // Attention dataTable vire le background pour mettre son bleu
  border-style: solid;
  border-width: 2px;
  border-color: #fff8ba;
}

.average_table {
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
}

.number_table {
  text-align: center;
  vertical-align: bottom;
}

.badge-submitted {
  color: #fff;
  background-color: #3498DB
}

a.badge-submitted:hover, a.badge-submitted:focus {
  color: #fff;
  background-color: #217dbb
}

a.badge-submitted:focus, a.badge-submitted.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.5)
}

.badge-approved {
  color: #fff;
  background-color: #F39C12
}

a.badge-approved:hover, a.badge-approved:focus {
  color: #fff;
  background-color: #c87f0a
}

a.badge-approved:focus, a.badge-approved.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.5)
}

.badge-accepted {
  color: #fff;
  background-color: #18BC9C
}

a.badge-accepted:hover, a.badge-accepted:focus {
  color: #fff;
  background-color: #128f76
}

a.badge-accepted:focus, a.badge-accepted.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 188, 156, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(24, 188, 156, 0.5)
}

.badge-draft {
  color: #fff;
  background-color: #2C3E50
}

a.badge-draft:hover, a.badge-draft:focus {
  color: #fff;
  background-color: #1a252f
}

a.badge-draft:focus, a.badge-draft.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5)
}

.badge-backup {
  color: #fff;
  background-color: #7b8a8b
}

a.badge-backup:hover, a.badge-backup:focus {
  color: #fff;
  background-color: #636f70
}

a.badge-backup:focus, a.badge-backup.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(123, 138, 139, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(123, 138, 139, 0.5)
}

.badge-rejected {
  color: #fff;
  background-color: #E74C3C
}

a.badge-rejected:hover, a.badge-rejected:focus {
  color: #fff;
  background-color: #d62c1a
}

a.badge-rejected:focus, a.badge-rejected.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5)
}

.badge-refused {
  color: #fff;
  background-color: #E74C3C
}

a.badge-refused:hover, a.badge-refused:focus {
  color: #fff;
  background-color: #d62c1a
}

a.badge-refused:focus, a.badge-refused.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5)
}

.badge-deleted {
  color: #212529;
  background-color: #ecf0f1
}

a.badge-deleted:hover, a.badge-deleted:focus {
  color: #212529;
  background-color: #cfd9db
}

a.badge-deleted:focus, a.badge-deleted.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5)
}

.badge-declined {
  color: #fff;
  background-color: #E74C3C
}

a.badge-declined:hover, a.badge-declined:focus {
  color: #fff;
  background-color: #d62c1a
}

a.badge-declined:focus, a.badge-declined.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.5)
}

.sent {
  border: 1px solid black;
  background-color: #ffff00;
  color: #000000;
  font-weight: bold;
}

.loading {
  background-color: darkgrey;
  color: #000000;
  font-style: italic;
}

.refused_true {
  background-color: #ffc1a6 !important;
}

#antispam_field {
  span.help-block {
    display: none;
  }
}

#holder {
  border: 10px dashed #ccc;
  width: 300px;
  min-height: 300px;
  margin: 20px auto;
}

#holder.hover {
  border: 10px dashed #0c0;
}

#holder img {
  display: block;
  margin: 10px auto;
}

#holder p {
  margin: 10px;
  font-size: 14px;
}

progress {
  width: 100%;
}

progress:after {
  content: '%';
}

.fail {
  background: #c00;
  padding: 2px;
  color: #fff;
}

.hidden {
  display: none !important;
}

.cfp-icon {
  display: inline;
  width: 20px;
  height: 20px;
  line-height: normal;
  vertical-align: baseline;
  background: none repeat 0 0;
  margin-top: 0;
}

/* Wishlist time line */
/* See also http://tympanus.net/codrops/2013/05/02/vertical-timeline/ */
.timeline {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #38cb44;
  left: 17%;
  margin-left: -10px;
}

.timeline > li {
  position: relative;
}

/* The date/time */
.timeline > li .tl_time {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  z-index: 3;
}

.timeline > li .tl_time span {
  display: block;
  text-align: right;
}

.timeline > li .tl_time span:first-child {
  font-size: 0.9em;
  color: #333;
}

.timeline > li .tl_time span:last-child {
  font-size: 1.0em;
  color: #61b618;
}

.timeline > li:nth-child(odd) .tl_time span:last-child {
  color: #61b618;
}

/* Right content */
.timeline > li .tl_status {
  margin: 0 0 15px 25%;
  background: #fcfbec;
  color: #535353;
  padding: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

.timeline > li:nth-child(odd) .tl_status {
  background: #f4f3e5;
}

.timeline > li .tl_status .tl_status_code {
  margin-top: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */
.timeline > li .tl_status:after {
  right: 100%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 10px solid transparent;
  border-right-color: #38cb44;
  top: 10px;
}

.timeline > li:nth-child(odd) .tl_status:after {
  border-right-color: #6fee87;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

  .timeline > li .tl_time span:last-child {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 47.2em) {
  .timeline:before {
    display: none;
  }

  .timeline > li .tl_time {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .timeline > li .tl_time span {
    text-align: left;
  }

  .timeline > li .tl_status {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .timeline > li .tl_status:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #37cb66;
    top: -20px;
  }

  .timeline > li:nth-child(odd) .tl_status:after {
    border-right-color: transparent;
    border-bottom-color: #6dee79;
  }

  .timeline > li .tl_icon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0;
  }
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
   z-index: 15;
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}

//
.ribbon-wrapper-red{
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-red {
  z-index: 15;
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #dc907a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc947a), to(#bf5757));
  background-image: -webkit-linear-gradient(top, #dc947a, #bf5757);
  background-image: -moz-linear-gradient(top, #dc947a, #bf5757);
  background-image: -ms-linear-gradient(top, #dc947a, #bf5757);
  background-image: -o-linear-gradient(top, #dc947a, #bf5757);
  color: #6a2b2f;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top: 3px solid #bf5757;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}

.ribbon-red:after {
  right: 0;
}

.btn-color-0, .score[data-score='0'] .displayed-score {
  color: #fff;
  background-color: @lightgrey;
  border-color: @lightgrey;
}

.btn-color-1, .score .minus, .score[data-score='1'] .displayed-score {
 color: #fff;
 background-color: #e4151c;
 border-color: #e2061a;
}

.btn-color-2, .score[data-score='2'] .displayed-score {
  color: #fff;
 background-color: #ed4b24;
 border-color: #e93120;
}

.btn-color-3, .score[data-score='3'] .displayed-score {
 color: #fff;
 background-color: #ed882c;
 border-color: #ed6d29;
}

.btn-color-4, .score[data-score='4'] .displayed-score {
 color: #fff;
 background-color: #edc034;
 border-color: #eda931;
}

.btn-color-5, .score[data-score='5'] .displayed-score {
 color: #fff;
 background-color: #ede038;
 border-color: #edd637;
}

.btn-color-6, .score[data-score='6'] .displayed-score {
 color: #fff;
 background-color: #d0df36;
 border-color: #e1e237;
}

.btn-color-7, .score[data-score='7'] .displayed-score {
 color: #fff;
 background-color: #9cc630;
 border-color: #b4d333;
}

.btn-color-8, .score .plus, .score[data-score='8'] .displayed-score {
 color: #fff;
 background-color: #7cb22c;
 border-color: #63a229;
}

.btn-color-9, .score[data-score='9'] .displayed-score {
 color: #fff;
 background-color: #428b24;
 border-color: #2b7c21;
}

.btn-color-10, .score[data-score='10'] .displayed-score {
 color: #fff;
 background-color: #116a1d;
 border-color: #2b7c21;
}

.btn-vote{
  color: #fff;
  background-color:#2d7eec;
  border-color:#000;
  border-style: solid;
  border-width: 2px;
}

.score {
  &[data-score='0'] {
    .minus, .displayed-score .regular-score { display: none; }
  }
  &:not([data-score='0']) .displayed-score .abs-score { display: none; }
  &[data-score='10'] .plus { display: none; }
  &[data-score-updated='false'] .refresh { display: none; }
}

.speakerOverview{
  color: #222;
  background-color: #e5edff;
  border-color: #3143ec;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  padding: 10px;

  h5{
    font-weight: 600;
  }
  p{
    padding-left: 5px;
  }

}

/* Paginator for search results */

.paginator {
  border-top: 1px solid @lightgrey;
  div.totalPage {
    float: left;
    span {
      font-weight: bold;
    }
  }
  div.paginate {
    float: right;
    text-align: center;
    ul.pagination{
      li{
         a,span,a:hover,span:hover,a:focus,span:focus{
          color: @darkorange;
        }
      }
      li.active{
         a,span,a:hover,span:hover,a:focus,span:focus{
           background-color: @darkorange;
           border-color: @darkorange;
           color: #ffffff;
        }
      }
      li.disabled{
         a,span,a:hover,span:hover,a:focus,span:focus{
          color: @lightgrey;
        }
      }
    }
  }
}

.sp-collapsed{
  display: inline-block;
  height: 20px;
}

#allProposals .tr_rejected td.sorting_1{

}
#allProposals .tr_rejected {
  background-color: #dc907a !important;
  border-color: #dc907a;
  border-width: 3px;
}

.tr_approved{
  background-color: #b2f89a !important;
  border-color: #b2f89a;
  border-width: 3px;
}
.tr_accepted{
  background-color: #4adf2a !important;
  border-color: #4adf2a;
  border-width: 3px;
}
.tr_declined{
  border-color: #f8c70d !important;
  background-color: #f8c70d;
  border-width: 3px;
}
tr.renderProposal_draft{
  font-style: italic;
  color:#999;
}

table.speakerTable tfoot tr td{
  white-space: pre-wrap;
  font-size: 0.9em;
  color: @lightgrey
}

.goldenticket {
  background-color: rgba(247, 209, 12, 0.21);
  padding-bottom: 20px;
}
.goldenticket h3 {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}
.tagLabel {
  background-color: lightgray;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 4px;
  border-radius: 6px;
  padding-bottom: 2px;
}
.proposalCol {
  width: 150px;
}
.digestMessage {
  background-color:rgba(255, 255, 0, 0.21);
  padding-left: 10px;
  border: 1px solid lightgray;
}

th.proposalTitle {
  width: 55%;
}

div.commentCfp{
  border-bottom: 1px solid @lightgrey;
  border-right: 1px solid @lightgrey;
  background-color: rgba(101, 100, 100, 0.13);
  padding-bottom: 2px;
}

.commentDate{
  color: @lightgrey;
}

.widget-head-color-box{
  border-radius: 5px;
  margin-top:10px;
}

.navy-bg{
  padding-bottom: 10px;
}

.widget-text-box {
  padding: 20px;
  border: 1px solid #e7eaec;
  background: #fff;
}
.gray-bg{
  background-color: #f3f3f4;
}

.speaker-bio-quote{
    padding: 0.5em;
    margin: 2px;
    border-left: 5px solid #e6e6e6;
    p{
      font-size:0.8em;
    }
}

.widget-footer{
  background-color: white;
  padding: 10px;
}

.speaker-photo{
  width:75px;
}

.state-draft {
  background-color: #f1b97a;
}

/***************************************************/
/* Chat box in showProposal */
/***************************************************/
div.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  background-color: #f6f6f6;
}

div.chat_people {
  overflow: hidden;
  clear: both;
}

div.chat_img {
  float: left;
  width: 11%;
}

div.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;

  h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  .chat_date{
        font-size: 13px;
    float: right;
  }
  p{
    font-size: 14px;
    color: #383838;
    margin: auto;
  }
}


label{
  margin-bottom: 0;
  display: block;
}
.input{
  padding-bottom: 5px;
}

p.searchProposalResult{
  padding-left: 10px;
  border-left: #1AACC7 2px solid;
}

p.searchSpeakerResult{
  padding-left: 10px;
  border-left: #f15f15 2px solid;
}

hr.borderless {
  border-top-width: 0;
}

.footer{
  background-color: #EEEEEE;
  bottom:0;
  width:100%;
  margin-top: 10px;
  padding-top:10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}