@()(implicit lang: Lang, flash: Flash, req:RequestHeader)
@import library.FormatDate

@main(Messages("cfp.title")){
<div class="container">
    <div class="jumbotron">
        <img src="@routes.Assets.at(path="/public",file="devoxx_fr_2022/logo_devoxx_fr_2022.png")" alt="Logo Devoxx France" height="100" width="1000">
        <h1 class="display-3"><i class="far fa-comment"></i> @Messages("appel.conf")</h1>
        <p class="lead">@Messages("appel.conf.dates")</p>
        <hr class="my-4">
    </div>
    <div class="row">
                @if(flash.get("error").isDefined) {
                    <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error :</strong>
                        @flash.get("error").get
                    </div>
                    </div>
                }
                @if(flash.get("success").isDefined) {
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissable">
                        @flash.get("success").get
                        </div>
                    </div>
                }
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3">
                    <h3 class="card-header"><i class="far fa-calendar-alt"></i> Agenda</h3>
                    <div class="card-body">
                        <p class="card-text"><strong>@Messages("cfp.opening") :</strong>  @FormatDate.jodaFullDateFormat(ConferenceDescriptor.current().timing.cfpOpenedOn, lang)</p>
                        <p class="card-text"><strong>@Messages("cfp.closing") :</strong>  @FormatDate.jodaFullDateFormat(ConferenceDescriptor.current().timing.cfpClosedOn, lang)</p>
                        @if(ConferenceDescriptor.isCFPOpen){
                            <p class="card-text"><strong>@Messages("cfp.reminder") :</strong> <span class="badge badge-warning">@Messages("cfp.reminder.proposals")</span> </p>
                        }else{
                            <p class="card-text"><strong>@Messages("cfp.reminder") :</strong> <span class="badge badge-danger">@Messages("cfp.isClosed")</span> </p>
                        }
                        <p class="card-text"><strong>@Messages("cfp.program")</strong> @Messages("cfp.program.date", FormatDate.jodaFullDateFormat(ConferenceDescriptor.current().timing.scheduleAnnouncedOn, lang))</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3">
                    <h3 class="card-header"><i class="fab fa-youtube"></i> @Messages("video.title")</h3>
                    <div class="card-body">
                        <p class="card-text">@Messages("video.tag") <a href="https://www.youtube.com/channel/UCsVPQfo5RZErDL41LoWvk0A" target="new">YouTube channel</a> </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card mb-3">
                    @if(ConferenceDescriptor.isCFPOpen){
                        <h3 class="card-header"><i class="fas fa-bullhorn"></i> @Messages("cfp.isOpen")</h3>
                    }else{
                        <h3 class="card-header"><i class="fas fa-bullhorn"></i> @Messages("cfp.isClosed")</h3>
                    }
                    <div class="card-body">
                    @if(ConferenceDescriptor.isCFPOpen) {
                        <a  href="@routes.Application.home()" class="btn btn-primary">@Messages("cfp.open.enter")</a>
                    } else {
                        <p>@Messages("cfp.isClosed.expl")</p>
                        <a href="@routes.Application.home()" class="btn btn-primary">@Messages("cfp.closed.enter")</a>
                    }
                    </div>
                </div>
            </div>

            @if(ConferenceDescriptor.isGoldenTicketActive) {
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card mb-3">
                        <h3 class="card-header"><i class="fas fa-ticket-alt"></i> @Messages("cfp.goldenTicket")</h3>
                        <div class="card-body">
                            <p class="card-text"><a href="@routes.GoldenTicketController.authenticate()" class="btn btn-primary">@Messages("cfp.gt.enter")</a></p>
                        </div>
                    </div>
                </div>
            }

            @if(ProgramSchedule.publishedProgramSchedule().map(_.favoritesActivated).getOrElse(false)){
                <div class="col-12">
                    <div class="card mb-3">
                        <h3 class="card-header"><i class="far fa-calendar-alt"></i> @Messages("cfp.showAgenda.title")</h3>
                        <div class="card-body">
                            <p class="card-text"><A href="@routes.Publisher.homePublisher()" class="btn btn-primary" title="See the conference agenda">@Messages("cfp.showAgenda.txt")</A> </p>
                        </div>
                    </div>
                </div>
                     <div class="clearfix">
            </div>
            }

            <div class="col-12">
                <div class="card mb-1">
                    <h3 class="card-header"><i class="fas fa-books"></i> @Messages("theme.title")</h3>
                    <div class="card-body">
                    <p class="card-text">@Messages("theme.track")</p>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @for(track <- ConferenceDescriptor.ConferenceTracksDescription.ALL) {
                                <tr>
                                    <td>@Messages(track.i18nTitleProp)</td>
                                    <td>@Messages(track.i18nDescProp)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>


        </div>

</div>
}
