<a class="btn btn-sm btn-primary icon-calendar" href="/2022/byday/wed" target="_blank"> Wednesday</a>
<a class="btn btn-sm btn-primary icon-calendar" href="/2022/byday/thu" target="_blank"> Thursday</a>
<a class="btn btn-sm btn-primary icon-calendar" href="/2022/byday/fri" target="_blank"> Friday</a><br>
<div class="col-lg-12">
    <h3>Saved configuration</h3>
</div>

<div class="col-lg-12">
<flash-messages>
</flash-messages>
    <label>Filter <input ng-model="search" placeholder="Filter on event type"></label><br>
    <ul ng-repeat="savedConf in allScheduledConfiguration | filter:search">
        <li>
            <strong>{{savedConf.key.confType}}</strong>
            created by
            <em>{{savedConf.key.createdBy}}</em>
            on
            <em>{{savedConf.date|date:'EEE d MMMM HH:mm:ss'}}</em>
            <br>
            <a class="btn btn-sm btn-primary" href="#/slots/{{savedConf.key.id}}"><i class="fas fa-edit"></i> Edit {{savedConf.key.id}}</a>
            <button class="btn btn-sm btn-danger" ng-disabled="!savedConf.deletable || savedConf._deleteSavedScheduleInProgress" ng-click="deleteConfig(savedConf)">
                <i class="fas fa-trash" ng-show="!savedConf._deleteSavedScheduleInProgress"></i>
                <i class="fa fa-spinner fa-spin" ng-show="savedConf._deleteSavedScheduleInProgress"></i>
                <span ng-if="savedConf.deletable">Delete</span>
                <span ng-if="!savedConf.deletable"><em>This configuration cannot be deleted because it is referenced by at least 1 program schedule</em></span>
            </button>
            <br>
        </li>
    </ul>
</div>

